.form-main {
    margin: 50px;
    width: 600px;
}

.form-body{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 5px;
}

.form-button-area{
    display: flex;
    padding: 10px;
}

.data-table-container {
    margin: 50px;
    width: 700px;
}

.form-button {
    padding: 2px;
}

.form-button-right {
    padding: 2px;
    margin-left: 5px;
}